@use '../custom' as customs;
@use '../components/mixins' as mixins;
.menu{
    @include mixins.gradient;
    li{
        padding: 0 0.7rem;
        a{
            color: customs.$white !important;
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}